@page { 
    size: auto;   /* auto is the initial value */ 
    margin: 0;  
} 

body {
	font-family: Helvetica;
	width: 20cm; /* css for print rocks */
	margin-left: 4.2cm;
	margin-top: 1cm;
	font-size: 8pt;
}

body > * {
	width: 14.5cm;
}

/* TITLE */

.title p {
	margin: 0;
}

.title p.left {
	font-weight: bold;
	float: left;
}

.title p.right {
	color: #FF0000;
	float: right;
}

/* HEAD */

#head {
	border: 1px solid black;
	clear: both;
	border-collapse: collapse;
	width: 14.5cm;
	margin-bottom: 4px;
}

#head th {
	background: #eee;
	border: none;
	font-weight: normal;
	text-align: left;
	padding: 2px;
	padding-top: 4px;
}

#head td {
	padding: 0;
}

#head input {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#head0 {
	width: 20%;
}

#head1 {
	width: 30%;
}

#head2 {
	width: 12%;
}

#head3, #head4 {
	width: 17%;
}

/* KALENDER */

#kalender {
	border: 2px solid black;
	clear: both;
	border-collapse: collapse;
	width: 14.5cm;
}

#kalender td, #kalender th {
	border: 1px solid black;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	padding-top: 5pt;
}

#kalender tr:first-child th {
	vertical-align: middle;
	text-align: center;
}

#kalender th {
	background-color: #eee;
}

#kalendertag, #kommen, #gehen {
	width: 10%;
}

#stunden {
	width: 20%;
}

/* UNTERSCHRIFT */

#unterschrift {
	margin-top: 12pt;
	border: 0;
	border-collapse: collapse;
}

#unterschrift td {
	width: 50%;
	height: 14pt;
}

#unterschrift tr:first-child td {
	border-bottom: 1px solid black;
}

#unterschrift tr:first-child td:first-child {
	border-right: 1px solid black;
}

/* FOOTER */

.footer {
	background-color: #eee;
	font-size: 6pt;
}
