body {
	font-family: Helvetica;
	width: 20cm; /* css for print rocks */
	margin-left: 4.2cm;
	font-size: 8pt;
}

body > * {
	width: 14.5cm;
}

/* TITLE */

.title p.left {
	font-weight: bold;
	float: left;
}

.title p.right {
	color: #FF0000;
	float: right;
}



/* HEAD */

head {
	border: 0.5px solid black;
	position: absolute;
	clear: both;
}

.head p {
	position: absolute
}

.head p#monat {
	left: 300px;
	top: 50px;
}

.head p#jahr {
	left: 400px;
	top: 50px;
}



/* KALENDER */

#kalender {
	border: 2px solid black;
	clear: both;
	border-collapse: collapse;
	width: 14.5cm;
}

#kalender td, #kalender th {
	border: 1px solid black;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	padding-top: 5pt;
}

#kalender tr:first-child th {
	vertical-align: middle;
	text-align: center;
}

#kalender th {
	background-color: #eee;
}

#kalendertag, #kommen, #gehen {
	width: 10%;
}

#stunden {
	width: 20%;
}

/* UNTERSCHRIFT */

.unterschrift p.left {

}

.unterschrift p.right {
	float: right;
}



/* FOOTER */

.footer {
	background-color: #eee;
	font-size: 6pt;
}
